body{
	/* Background by hampusolsson.com */
	background: url('../img/golden_mountain.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container{
	padding-top: 15px;
}

.container .jumbotron{
	margin-top: 120px;
	border-radius: 0px;
	background-color: transparent;
	color: #ffffff;
	text-shadow: 1px 1px 5px #222;
}

h1, h2, h3, h4, p, ul{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.social:before, li, a{
    /* list */
    list-style-type: none;
    vertical-align: center;
    display:inline;
    margin-right: 0.3em;
    font-size: 130%;
    color: #ffffff;
    text-shadow: 1px 1px 3px #222;
}

a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
}

/* hide social buttons at first*/
.button_bar{
    margin: auto;
	background-color: transparent;
	display: none;
    text-align: center;
}

.element{
	display: inline;
}

/*typed cursor*/
#typed-cursor{
    opacity: 1;
    font-weight: 100;
    font-size: 30px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}